@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #0D0E15;
    font-size:20px;
    font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
}
#webglCanvas{
    border:1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 15px;
}
#spawnRect{
    height:250px;
    width:500px;
    background-color: #4B2222;
    margin-top:30px;
    margin-bottom:30px;
    border-radius:28px;
    margin-right:10px;
    padding:30px;
}
#object-choice{
    background-color: #ffffff;
    padding:6px;
    padding-left:20px;
    padding-right:25px;
    color:#303030;
    border-radius:8px;
    border-style:solid;
    border-color: #E0E0E0;
    border-width: 1px;
    display:inline-block;
    margin-right:100%;
    font-size: 16px;
}
.xyz-label{
    display:inline-block;
    padding-right:5px;
    margin-top:30px;
    color:#ffffff;
}
.xyz-input{
    display:inline-block;
    width:40px;
    background-color: #ffffff;
    padding:10px;
    padding-right:0px;
    margin-right:5px;
    margin-left:5px;
    color:#303030;
    border-radius:8px;
    border-style:solid;
    border-color: #E0E0E0;
    border-width: 1px;
    font-size: 16px;
}
#xyz-submit{
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    margin-left: 10%;
    border-style: none;
    font-size:17px;
    transition-duration: 0.3s;
}
#xyz-submit:hover{
    background-color: #1b2832;
}
#xyz-submit:active{
    background-color: #7b919e;
}
#pausebutton{
    background-color: #0f0f0f;
    color: #ffffff;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    margin-left: 5%;
    border-style: none;
    font-size:17px;
    transition-duration: 0.3s;
}
#pausebutton:hover{
    background-color: #253746;
}
#pausebutton:active{
    background-color: #7b919e;
}
#removeAll{
    background-color: #661212;
    color: #ffffff;
    border-radius: 8px;
    margin-left:10px;
    width: 150px;
    height: 60px;
    border-style: none;
    font-size:17px;
    transition-duration: 0.3s;    
}
#removeAll:hover{
    background-color: #852d2d;
}
#removeAll:active{
    background-color: #955d5d;
}
#uiRect{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#templatesRect{
    height:180px;
    width:550px;
    background-color: #22234b;
    margin-bottom:100px;
    border-radius:28px;
    padding:15px;
    padding-top:20px;
    margin-left:auto;
    margin-right:auto;
}
#templatesText{
    color:#eaeaea;
    margin-left:10px;
    margin-bottom:5px;
}
.alert{
    font-size:15px;
    padding:15px;
}
.templateButton{
    background-color: #0f0f0f;
    color: #ffffff;
    border-radius: 8px;
    width: 150px;
    height: 48px;
    margin: 5px;
    border-style: none;
    font-size:17px;
    transition-duration: 0.3s;
}
.templateButton:hover{
    background-color: #253746;
}
.templateButton:active{
    background-color: #7b919e;
}
#checkboxText{
    font-size: 15px;
    margin:0px;
}
#dynamicCheck{
    margin-right:0px;
    margin-left:25px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
@media (max-width: 1399.98px) { 
    #webglCanvas{
        width: 50%;
    }
}
@media (max-width: 1199.98px) { 
    #webglCanvas{
        width: 60%;
    }
}
@media (max-width: 767.98px) {
    body{
        font-size:15px;
    }
    .alert{
        font-size:9px;
        padding:9px;
    }
    #webglCanvas{
        width: 70%;
    }
    #spawnRect{
        height:200px;
        width:400px;
        padding:20px;
    }
    #object-choice{
        padding-left:12px;
        padding-right:15px;
        font-size: 14px;
    }
    .xyz-label{
        padding-right:0px;
        margin-top:25px;
    }
    .xyz-input{
        width:40px;
        background-color: #ffffff;
        padding:6px;
        margin-right:0px;
        margin-left:0px;
        font-size: 12px;
    }
}
@media (max-width: 575.98px) {
    body{
        font-size:14px;
    }
    .alert{
        font-size:9px;
        padding:2px;
    }
    #alertDiv{
        margin-top:160%;
    }
    #object-choice{
        padding-left:10px;
        padding-right:10px;
        font-size: 12px;
    }
    .xyz-label{
        margin-top:15px;
    }
    .xyz-input{
        width:40px;
        background-color: #ffffff;
        padding:4px;
    }
    #spawnRect{
        margin-bottom:15px;
        width:370px;
    }
    #xyz-submit{
        width: 90px;
        height: 60px;
        margin-left: 10%;
        margin-right:10%;
        font-size:15px;
    }
    #pausebutton{
        width: 42px;
        height: 42px;
        margin-left: 2.5%;
        margin-top: 10px;
    }
    #dynamicCheck{
        margin-left:10px;
    }
    #templatesRect{
        height:180px;
        width:450px;
    }
    .templateButton{
        width: 125px;
        font-size:15px;
    }
    #removeAll{
        margin-left:5px;
        width: 100px;
        font-size:15px;   
    }
}
@media (max-width: 477.98px) {
    #spawnRect{
        width:320px;
    }
    #xyz-submit{
        width: 80px;
        margin-right:0px;
        font-size:14px;
    }
    #checkboxText{
        font-size: 12px;
    }
    #removeAll{
        margin-left:2.5px;
        width: 90px;
        font-size:12px;   
    }
    #pausebutton{
        width: 36px;
        height: 36px;
        margin-left: 2%;
        margin-top: 10px;
        margin-right:0px;
    }
    #dynamicCheck{
        margin-left:2px;
    }
    .xyz-input{
        width:35px;
    }
    #templatesRect{
        width:380px;
    }
    .templateButton{
        width: 100px;
        font-size:14px;
    }
}