@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #0D0E15;
    font-size:20px;
    font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
}
#webglCanvas{
    border:1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#spawnRect{
    height:190px;
    width:500px;
    background-color: #4B2222;
    margin-top:30px;
    margin-bottom:30px;
    border-radius:28px;
    margin-right:10px;
    padding:30px;
}
#object-choice{
    background-color: #ffffff;
    padding:6px;
    padding-left:20px;
    padding-right:25px;
    color:#303030;
    border-radius:8px;
    border-style:solid;
    border-color: #E0E0E0;
    border-width: 1px;
    display:inline-block;
    margin-right:100%;
}
.xyz-label{
    display:inline-block;
    padding:5px;
    padding-right:0px;
    margin-top:30px;
    color:#ffffff;
}
.xyz-input{
    display:inline-block;
    width:40px;
    background-color: #ffffff;
    padding:10px;
    padding-right:0px;
    margin-right:5px;
    margin-left:5px;
    color:#303030;
    border-radius:8px;
    border-style:solid;
    border-color: #E0E0E0;
    border-width: 1px;
}
#xyz-submit{
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    margin-left: 10%;
    border-style: none;
    font-size:17px;
    transition-duration: 0.3s;
}
#xyz-submit:hover{
    background-color: #1b2832;
}
#xyz-submit:active{
    background-color: #7b919e;
}
#pausebutton{
    background-color: #0f0f0f;
    color: #ffffff;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    margin-left: 5%;
    border-style: none;
    font-size:17px;
    transition-duration: 0.3s;
}
#pausebutton:hover{
    background-color: #253746;
}
#pausebutton:active{
    background-color: #7b919e;
}
#errMessage{
    color:#ff5050;
    font-size:16px;
}
#removeAll{
    background-color: #661212;
    color: #ffffff;
    border-radius: 8px;
    margin-left:10px;
    width: 150px;
    height: 60px;
    border-style: none;
    font-size:17px;
    transition-duration: 0.3s;    
}
#removeAll:hover{
    background-color: #852d2d;
}
#removeAll:active{
    background-color: #955d5d;
}
#uiRect{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#templatesRect{
    height:100px;
    width:550px;
    background-color: #22234b;
    margin-bottom:60px;
    border-radius:28px;
    padding:30px;
    margin-left:auto;
    margin-right:auto;
}
#templatesText{
    margin-top:0px;
    color:#eaeaea;
    margin-left:10px;
}
.templateButton{
    background-color: #0f0f0f;
    color: #ffffff;
    border-radius: 8px;
    width: 150px;
    height: 48px;
    margin: 10px;
    border-style: none;
    font-size:17px;
    transition-duration: 0.3s;
}
.templateButton:hover{
    background-color: #253746;
}
.templateButton:active{
    background-color: #7b919e;
}
#checkboxText{
    font-size: 15px;
    margin:0px;
}
#dynamicCheck{
    margin-right:0px;
    margin-left:25px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}